* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}



#webapp_cover {
  position: absolute;
  top: 15px; /* Adjust as necessary for spacing */
  left: 15px; /* Adjust as necessary for spacing */
  width: 39px;
  margin: 0;
  transform: scale(2); /* Adjusted to remove translateY for top-right positioning */
}

#menu_button {
  width: 39px;
  overflow: hidden;
}

#menu_checkbox {
  display: none;
}

#menu_label {
  position: relative;
  display: block;
  height: 29px;
  cursor: pointer;
}

#menu_label:before,
#menu_label:after,
#menu_text_bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #000000;
}

#menu_label:before,
#menu_label:after {
  content: "";
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before {
  top: 0;
}

#menu_label:after {
  top: 12px;
}

#menu_text_bar {
  top: 24px;
}

#menu_text_bar:before {
  content: "MENU";
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-align: center;
}

#menu_checkbox:checked + #menu_label:before {
  left: -39px;
}

#menu_checkbox:checked + #menu_label:after {
  left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeWhileMovingUp 0.8s ease 0.2s forwards,
    shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

body {
    background-color:#C7D0D4;
    background-size: cover; 
    font-family: 'Montserrat', sans-serif;
  }
  #container-box {
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
}
  .pomodoro {
    position: absolute;
  }
  .pomodoro-wrapper {
    position: absolute;
    cursor: move;
    width: 5%;  /* adjust as needed */
    height: 5%; /* adjust as needed */
    margin: auto; /* centers the container */
}
  .circle-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
  p {
    text-align: center;
  }
  .flip-clock-wrapper{
    max-width: 460px;
    margin: 3em auto 2em;
    display: flex;
    justify-content: center;
  }
  .col-md-4{
    display: flex;
    justify-content: center;
  }
  .col-md-2{
    display: flex;
    justify-content: center;
    height: 34px;
    align-items: center;
  }
  .counter{
    display: flex;
    justify-content: center;
  }
  .clock{
    margin-top: 30px;
  }
  .container {
    width: 500px;
  }
  .middle{
      display:inline-block;
  }
  #btns{
    display: flex;
    justify-content: center;
  }
  #stop {
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn {
    background-color: #333333;
    color: #CCCCCC;
  }
  #sessInc, #sessDec, #breakInc, #breakDec {  
    font-weight: bold;
  }
  #stats {
    background-color: #333333;
    width: 100px;
    height: 70px;  
    border-radius: 10px;
    color: #CCCCCC;
    font-size: 20px;
    text-align: center;
  }
  #statRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }