body {
    background-color:#C7D0D4;
    background-size: cover; 
    font-family: 'Montserrat', sans-serif;
  }
  #container-box {
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
}
  .pomodoro {
    position: absolute;
  }
  .pomodoro-wrapper {
    position: absolute;
    cursor: move;
    width: 5%;  /* adjust as needed */
    height: 5%; /* adjust as needed */
    margin: auto; /* centers the container */
}
  .circle-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
  p {
    text-align: center;
  }
  .flip-clock-wrapper{
    max-width: 460px;
    margin: 3em auto 2em;
    display: flex;
    justify-content: center;
  }
  .col-md-4{
    display: flex;
    justify-content: center;
  }
  .col-md-2{
    display: flex;
    justify-content: center;
    height: 34px;
    align-items: center;
  }
  .counter{
    display: flex;
    justify-content: center;
  }
  .clock{
    margin-top: 30px;
  }
  .container {
    width: 500px;
  }
  .middle{
      display:inline-block;
  }
  #btns{
    display: flex;
    justify-content: center;
  }
  #stop {
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn {
    background-color: #333333;
    color: #CCCCCC;
  }
  #sessInc, #sessDec, #breakInc, #breakDec {  
    font-weight: bold;
  }
  #stats {
    background-color: #333333;
    width: 100px;
    height: 70px;  
    border-radius: 10px;
    color: #CCCCCC;
    font-size: 20px;
    text-align: center;
  }
  #statRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }